@model List<Category>

<div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
    <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">

        <!-- "All" button -->
        <li class="nav-item me-2">
            <a class="btn btn-outline-primary border-2 active category-btn"
               data-category-id="0" id="all-category-btn">
                All
            </a>
        </li>

        <!-- Category buttons -->
        @foreach (var item in Model)
        {
            <li class="nav-item me-2">
                <a class="btn btn-outline-primary border-2 category-btn"
                   data-category-id="@item.CategoryId">
                    @item.CategoryName
                </a>
            </li>
        }

    </ul>
</div>
