@model List<Category>

<div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
    <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">

        @for (int i = 0; i < Model.Count; i++)
        {
			var item = Model[i];
            <li class="nav-item me-2">
                <a class="btn btn-outline-primary border-2 @(i==0 ? "active" : "")" data-bs-toggle="pill" href="#">@item.CategoryName</a>
            </li>
        }
       
    </ul>
</div>